<div class="container">

  <h2 class="catergory-heading">Alarm Catergories</h2>
  <br>
  <div class="catergories">

    <div class="col-lg-3 col-md-3 col-12 catergory-container" (click)="show_subCatergory('panels')">
      <div class="img-container">
        <img src="../../../../assets/images/panel.png" alt="">
      </div>
      <h6>Panels</h6>
    </div>

    <div class="col-lg-3 col-md-3 col-12 catergory-container" (click)="show_subCatergory('detectors')">
      <div class="img-container">
        <img src="../../../../assets/images/detector.png" alt="">
      </div>
       <h6>Detectors</h6>
    </div>

    <div class="col-lg-3 col-md-3 col-12 catergory-container" (click)="show_subCatergory('kits')">
      <div class="img-container">
        <img src="../../../../assets/images/kit.png" alt="">
      </div>
          <h6>Kits</h6>
    </div>
  </div>

  <div class="products" id="products">
    <h3>Alarm Products</h3>

    <div class="products-container">

      <div *ngFor="let product of products" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-12 product" (click)="show_one(product.id)" >
        <div class="img-container" style="height: 120px;">
          <img src="{{product.attributes.image_url}}" alt="{{product.attributes.product_code}}" loading="lazy" width="auto" height="95%">
        </div>
        <div class="product-details">
          <div class="product-code">{{product.attributes.product_code}}</div>
          <p>{{product.attributes.supplier_code}}</p>
          <div class="product-price">{{product.attributes.retail_price}}</div>
          <div class="buy-now">BUY NOW</div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="one-product" [ngStyle]="{display : one_product_display}">

  <div class="col-12 col-sm-12 col-md-6 col-lg-6 image" >
    <img src="{{one_product.image_url}}" alt="" width="90% ">
  </div>

  <div class="product-info">
    <div (click)="close_prod()" style="float: right">X</div>
    <h3>{{one_product.product_code}}</h3>
    <p>{{one_product.supplier_code}}</p>
    <br>
    <div>
      <p>{{one_product.description}}</p>
    </div>
    <div>
      <h5 style="margin-top:50px">{{one_product.price}}</h5>
      <div class="buttons">
        <button (click)="addtocart(one_product)" class="add-to-cart">Add to cart</button>
        <button (click)="checkout()" class="checkout">Checkout</button>
      </div>
    </div>
  </div>

</div>
