<div class="container">
  <h3 style="text-align: center;">Goods Exchange & Returns Policy</h3>
  <p style="margin-top: 50px;">
  1. All transactions and/or sales entered into with TG Security Systems (hereinafter "TGSec"), shall be subject to and governed by our standard terms and conditions of sale, a copy of which is available on request.
    <br>
  2. All and any returns and/or refunds shall be governed by our standard terms and conditions of sale. All TGSec Warranties and Repairs are limited to carry in.
    <br>
  3. No exchange, credit or refund will be done without the original invoice being presented to TGSec.
    <br>
  4. The customer must return the product within 10 days of receipt and is required to inform TGSec in writing via sales@tgsecurity.co.za (within abovementioned ten-day period).
    <br>
  5. Goods returned After 6 months will not be accepted back for credit, exchange or refund.
    <br>
  6. Goods returned for credit or refund must be returned in the original condition and original packaging and are to be returned within 10 days of delivery (This applies to incorrect goods purchased or supplied). All goods returned that are repackaged in the original packaging are subject to a reasonable handling fee which may be charged at up to 10% or at the discretion of TGSec based on the nature of the case at hand up in respect of any consumption or depletion thereof. The customer acknowledges that the right to return the goods shall be limited to TGSec's discretion, in the event that the goods are partially or entirely disassembled, physically altered, permanently installed, affixed, attached, joined or added to, blended or combined with, or embedded within, other goods or property.
    <br>
  7. The Customer is responsible for all costs associated with returns by shipped freight including the associated insurance. The onus is the customer to ensure that the goods returned are received by TGSec within 10 days of written notice. Under no circumstances will TGSec accept responsibility for goods returned that are lost in transit.
    <br>
  8. It is further agreed that no goods will be accepted for return/exchange and/or refund by TGSec after the lapse of six months from date of purchase.
    <br>
  9. All electronic goods will be tested before any exchange, credit or refund will be issued.
    <br>
  10. TGSec will not be held liable for any loss or costs incurred due to the failure of a product once installed or for any damages suffered by the customer or a third party due to the malfunction of products purchased where the product has been materially altered or has been used contrary to any manufacturer installation manual or technical instructions given by TGSec.
    <br>
  11. Any damage caused by abuse, misuse, unauthorized modifications, tampering, any acts of God or force majeure, incorrect installation, insect infestation, liquid damage, lightening or power surges will not be covered by TGSec.
    <br>
  12. All faulty goods returned within six months of purchase by the consumer will be eligible to be refunded, replaced or repaired at the customer's election. (This will subject to points 3,4, 5, 6, 7, 8 and 9).
    <br>
  13. TGSec reserves the right to refuse any warranty claim if the damage is caused by any factors beyond the specifications or performance levels of the product.
    <br>
  14. A repair or exchange of a product within the warranty period will carry a further warranty period of three months, such repairs, however will not extend the duration of the original warranty period
    <br>
  15. In the event that external repairs are necessary, TGSec will offer a carry in warranty of repair for an equivalent period to that of the supplier.
    <br>
  16. Repairs conducted by TGSec's repair department will carry a 3-month warranty on that specific repair. Any other faults occurring will be treated as a separate repair.
    <br>
  17. Repaired items will not be released to the customer until any payment due in respect thereof has been received.
    <br>
  18. TGSec reserves its rights to charge a handling fee of up to 10% of invoice value on any items that are received for repair that are found to be free of fault or defect, or where reports beyond that of the job card are requested.
    <br>
  19. TGSec reserves its rights to sell/resell all repaired goods which are not collected within 120 days of repair, in order to defray costs.
    <br>
  20. In the event that TGSec does not have stock of goods which have been purchased, then TGSec shall procure the same or similar goods from an alternative source at the same price subject to the customer's consent. TGSec shall not be liable for shortage of stock in circumstances that are beyond the control of TGSec.
    <br>

</div>
