<div id="signin">

  <a href="/"><img id="logo" src="../../../assets/images/blue.png" alt="" height="160px"></a>
  <div class="container" style="display: flex; flex-wrap: nowrap;">

    <div id="left" class="col-xs-12 col-md-6 col-lg-6">
      <img src="../../../assets/images/security.svg" alt="" height="100%">
    </div>

    <div id="right" class="col-xs-12 col-md-6 col-lg-6">
      <h3>Sign Up</h3>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="input-container">
          <p>Email Address</p>
          <input id="email" type="text" formControlName="email" >
        </div>

        <div class="input-container">
          <p>Username</p>
          <input id="username" type="text" formControlName="username" >
        </div>

        <div class="input-container">
          <p>Password</p>
          <input type="password">
        </div>

        <div class="input-container">
          <p>Confirm Password</p>
          <input id="password" type="password" formControlName="password">
        </div>

        <div style="margin-top:20px;">
          Reseller <input id="isReseller" type="checkbox" formControlName="isReseller">
          <br>
          <br>
          <span style="font-size: 13px;"> I would like to receive emails from TG Security Systems <input type="checkbox"></span>
        </div>

        <div class="input-btn">
          <button type="submit">Sign Up</button> <a routerLink="/auth/login">Already have an account ?</a>
        </div>

      </form>
    </div>

  </div>

</div>
