<div class="form" [ngStyle]="{display : isFormDisplayed}">
  <span (click)="close()" style="float: right; font-weight: bolder;">X</span>
  <h4 [ngStyle]="{display : isFormDisplayed + ' !important'}">{{ formHeader }} enquiry</h4>

  <form *ngIf="formDisplayed == 'general'" id="generalForm" [formGroup]="generalEnqForm" (ngSubmit)="generalEnq()">
    <div class="input-container">
      <p>Email Address</p>
      <input id="email" type="text" formControlName="email" >
    </div>

    <div class="input-container">
      <p>Name</p>
      <input id="name" type="text" formControlName="name" >
    </div>

    <div class="input-container">
      <p>Enquiry</p>
      <textarea name="message"cols="30" rows="10" formControlName="message"></textarea>
    </div>

    <div class="input-btn">
      <button type="submit">SEND</button>
    </div>
  </form>

  <form *ngIf="formDisplayed == 'product'" id="productForm" [formGroup]="productEnqForm" (ngSubmit)="productEnq()">
    <div class="input-container">
      <p>Email Address</p>
      <input id="email" type="text" formControlName="email" >
    </div>

    <div class="input-container">
      <p>Name</p>
      <input id="name" type="text" formControlName="name" >
    </div>

    <div class="input-container">
      <p>Enquiry</p>
      <textarea name="message"cols="30" rows="10" formControlName="message"></textarea>
    </div>

    <div class="input-btn">
      <button type="submit">SEND</button>
    </div>
  </form>

</div>

<div class="footer">

  <div class="container">
    <div class="top">

      <div class="contact col-12 col-xs-12 col-sm-6 col-lg-3">
        <h5 class="heading">Contact Us</h5>
        <div class="links">
          <ul>
            <li (click)="enquires('general')">General Enquiries</li>
            <li (click)="enquires('product')">Product Enquires</li>
            <li> <a href="https://wa.me/+27682582801" style="color: white; text-decoration: none;"> Installations </a></li>
          </ul>
        </div>
      </div>

      <div class="accounts col-12 col-xs-12 col-sm-6 col-lg-3">
        <h5 class="heading">Accounts</h5>
        <div class="links">
          <ul>
            <li> <a routerLink="auth/login" style="color: white; text-decoration: none;">  Login </a></li>
            <li> <a routerLink="auth/signup" style="color: white; text-decoration: none;"> Sign Up </a></li>
          </ul>
        </div>
      </div>

      <div class="terms col-12 col-xs-12 col-sm-6 col-lg-3">
        <h5 class="heading">Terms & Policies</h5>
        <div class="links">
          <ul>
            <li> <a routerLink="policies" style="color: white; text-decoration: none;"> Goods Exchange & Return Policies </a></li>
          </ul>
        </div>
      </div>

      <div class="social-media col-12 col-xs-12 col-sm-6 col-lg-3">
        <h5 class="heading">Follow Us</h5>
        <div class="links">
          <img src="../../../../assets/images/fb.png" alt="" height="35px" style="margin: 8px;">
          <img src="../../../../assets/images/ig.png" alt="" height="35px" style="margin: 8px;">
          <img src="../../../../assets/images/tw.png" alt="" height="35px" style="margin: 8px;">
        </div>
      </div>

    </div>
    <hr>
    <div class="bottom">
      <div class="left">2022 © TG Security Systems</div>
      <div class="right">Designed & Created by Yani</div>
    </div>
  </div>

</div>
