.form
  z-index: 4
  max-width: 90%
  margin-left: auto
  margin-right: auto
  max-height: 90vh
  text-align: center
  position: fixed
  top: 30px
  padding: 20px
  background: white
  box-shadow: 1px 1px 3px 1px #00000021

  form
    padding: 20px
    .input-container
        font-family: "Montserrat"
        font-size: smaller
        color: #1F3065
        margin-top: 25px

        input
          padding: 15px
          width: 80%
          height: 30px
          border: 1px #1f306536 solid
          border-radius: 30px

    .input-btn

      button
        margin-top: 25px
        background-color: #e5412b
        color: white
        width: 100px
        height: 40px
        border: 1px solid #e5412b
        border-radius: 20px
        font-family: "Montserrat"

      button:hover
        box-shadow: 4px 4px 14px 3px #ff90902c


.footer
  margin: 0
  bottom: 0
  position: relative
  z-index: 1
  background: linear-gradient(90deg, #040e28, #071c54)
  color: white
  font: smaller "Poppins"
  font-weight: lighter
  padding: 15px
  width: 100%

  .container
    max-width: 1360px

    .top, .bottom
      display: flex
      flex-wrap: wrap
      justify-content: space-between

    .top > div
      padding: 15px
      margin-top: 20px

      .heading
        font-family: "Montserrat"
        font-weight: 600

      ul
        padding-left: 0
        li
          list-style: none

        li:hover
          cursor: pointer

@media (max-width: 580px)
  div
    text-align: center
