<div class="footer">

  <div class="container">
    <div class="top">

      <div class="contact col-12 col-xs-12 col-sm-6 col-lg-3">
        <h5 class="heading">Contact Us</h5>
        <div class="links">
          <ul>
            <li>General Enquiries</li>
            <li>Product Enquires</li>
            <li>Emegency Contact</li>
            <li>Installations</li>
          </ul>
        </div>
      </div>

      <div class="accounts col-12 col-xs-12 col-sm-6 col-lg-3">
        <h5 class="heading">Accounts</h5>
        <div class="links">
          <ul>
            <li>Login</li>
            <li>Sign Up</li>
            <li>Track Orders</li>
          </ul>
        </div>
      </div>

      <div class="terms col-12 col-xs-12 col-sm-6 col-lg-3">
        <h5 class="heading">Terms & Policies</h5>
        <div class="links">
          <ul>
            <li>Terms & Conditions</li>
            <li>Return Policy</li>
            <li>Product Warranty</li>
            <li>Cookie Policy</li>
          </ul>
        </div>
      </div>

      <div class="social-media col-12 col-xs-12 col-sm-6 col-lg-3">
        <h5 class="heading">Follow Us</h5>
        <div class="links">
          <img src="../../../../assets/images/fb.png" alt="" height="35px" style="margin: 8px;">
          <img src="../../../../assets/images/ig.png" alt="" height="35px" style="margin: 8px;">
          <img src="../../../../assets/images/tw.png" alt="" height="35px" style="margin: 8px;">
        </div>
      </div>

    </div>
    <hr>
    <div class="bottom">
      <div class="left">2022 © TG Security Systems</div>
      <div class="right">Designed & Created by Yani</div>
    </div>
  </div>

</div>
