<script src="https://js.yoco.com/sdk/v1/yoco-sdk-web.js"></script>
<div class="container">
  <h3>Cart</h3>
  <div style="margin-top: 70px;" *ngFor="let product of cartObjects; index as i ">
    <div class="product" style="display: flex; flex-wrap: wrap;">
      <div class="left" style="height: 100px;">
        <img src="{{product.image_url}}" alt="" height="100%" width="auto">
      </div>
      <div class="right">
        <h6>{{product.product_code}}</h6>
      </div>
      <div class="right">
        <button (click)="removeFromCart(i)">Remove From Cart <img src="../../../assets/images/trash.png" alt="" height="16px"></button>
      </div>
    </div>
  </div>
  <div style="display: flex; justify-content: center; background: #f1f1f1; padding: 10px;">
   <!-- <div style="font-weight: bolder; font-size:larger">
      Total : R {{total}} <span style="font-weight: lighter; font-style:italic; font-size:medium">(VAT Incl.)</span>
    </div>
  -->
    <div>
      <button id="checkout-button" class="checkout"  (click)="enquires('product')">Enquire Products</button>
    </div>
  </div>
  <div>

  </div>
</div>

<div class="form" [ngStyle]="{display : isFormDisplayed}">
  <span (click)="close()" style="float: right; font-weight: bolder;">X</span>
  <h4 [ngStyle]="{display : isFormDisplayed + ' !important'}">{{ formHeader }} enquiry</h4>

  <form *ngIf="formDisplayed == 'product'" id="productForm" [formGroup]="productEnqForm" (ngSubmit)="productEnq()">
    <div class="input-container">
      <p>Email Address</p>
      <input id="email" type="text" formControlName="email" >
    </div>

    <div class="input-container">
      <p>Name</p>
      <input id="name" type="text" formControlName="name" >
    </div>

    <div class="input-container">
      <p>Enquiry</p>
      <textarea name="message"cols="30" rows="10" formControlName="message" [value]="products"></textarea>
    </div>

    <div class="input-btn">
      <button type="submit">SEND</button>
    </div>
  </form>
</div>
